django==1.3
versiontools
south
python-openid
django_openid_auth
django-authopenid
recaptcha-client
creoleparser
pygments
postmarkup
django-piston
django-celery
werkzeug
django-annoying
django-extensions
pyyaml
django-simple-captcha
django-nose
pil
simplejson
mysql-python
python-dateutil
django-dotenv
django-getenv
dj-database-url
